.fixed-bar-from-extension {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background-color: #673ab7;
}
.fixed-bar-from-extension::before {
    background: url(/images/icon.png) no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    content: "";
    vertical-align: middle;
    margin-right: 10px;
}